*, ::before, *::after {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("background2.png");
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #4d0000;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    padding: 5px 10px;
    outline: none;
    background-color: yellow;
}

.btn:hover {
    border-color: black;
}
.btn.correct {
    background-color: green;
}

.btn.wrong {
    background-color: red;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20 px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}